<h1>Create a New Recipe</h1>

<form method="post" action="/recipes">
    <label for="name">Title
        <input id="recipe-name" type="text" name="name">
    </label>
    <br>
    <br>
    <label for="ingredients">Ingredients
        <textarea id="recipe-ingredients" type="text" name="ingredients"></textarea>
    </label>
    <br>
    <label for="cook_time">Cook Time
        <input id="recipe-cook-time" type="text" name="cook_time">
    </label>
    <br>
    <input type="submit" value="Submit">
</form>